.userForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.8em;
    min-height: 50vh;
    background: rgb(175, 225, 238);
}

.userForm input,
.userForm select {
    all: unset;
    padding: 0.5em;
    background: whitesmoke;
    color: black;
    border-radius: 0.3em;
}

button{
    all: unset;
    padding: 0.5em;
    background:green;
    color: whitesmoke;
    border-radius: 0.3em; 
}